HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/spring-boot-migrator.jar
/.rewrite-cache/000005.log
/.rewrite-cache/CURRENT
/.rewrite-cache/IDENTITY
/.rewrite-cache/LOCK
/.rewrite-cache/LOG
/.rewrite-cache/MANIFEST-000004
/.rewrite-cache/OPTIONS-000007
/.gitignore
/spring-boot-migrator.log
